* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: rgb(134, 133, 133);
    display: flex;
    justify-content: center;
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1425px; 
}

nav {
    display: flex;
    background-color: rgb(186, 99, 113);
    align-items: center;
    padding: 8px 200px;
}

nav img {
    width: 50px;
    margin: 0 25px;
    border-radius: 30%;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

nav ul li {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 10px;
}

header {
    display: flex;
    padding: 100px 200px;
    background-color: rgb(186, 99, 113);
    gap: 50px;
}

.herosection .heading {
    font-size: 46px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 15px;
}

.herosection .subheading {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.herosection button {
    background-color: rgb(83, 126, 182);
    color: #F9FAF8;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    border: none;
}