* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: rgb(134, 133, 133);
    display: flex;
    justify-content: center;
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1425px; 
}

nav {
    display: flex;
    background-color: rgb(186, 99, 113);
    align-items: center;
    padding: 8px 200px;
}

nav img {
    width: 50px;
    margin: 0 25px;
    border-radius: 30%;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

nav ul li {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 10px;
}

header {
    display: flex;
    padding: 100px 200px;
    background-color: rgb(186, 99, 113);
    gap: 50px;
}

.hero-section .heading {
    font-size: 46px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 15px;
}

.hero-section .subheading {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.hero-section button {
    background-color: rgb(83, 126, 182);
    color: #F9FAF8;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.gallery {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 50px;
}

.gallery .gallery-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #5b5d5d;
}

.gallery .icons {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-bottom: 30px;
}

.icons ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.icons ul li {
    text-align: center;
    color: grey;
}

.icons ul li>*:first-child {
    border: 4px solid rgb(186, 99, 113);
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;;
    padding: 150px 200px;
}

.quote-section blockquote {
    font-size: 34px;
    color: #2e2f30;
    font-weight: 100;
    font-style: italic;
}

.quote-section div {
    font-size: 18px;
    color: #2e2f30;
    font-weight: bold;
    align-self: flex-end;
}

.testimonials {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 65px;
    padding: 100px 0;
    flex-direction: row-reverse;
}

.testimonials ul {
    width: 300px;
    list-style: none;
    height: 415px;
    display: flex;
    flex-direction: column;
}

.testimonials ul li {
    color: grey;
    font-style: italic;
    text-align: center;
}

.testimonials ul .text {
    text-align: left;
}

.testimonials ul .cite {
    margin-top: auto;
}

.testimonials ul li img {
    border-radius: 50%;
    margin-top: 30px;
}

.call-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 125px 0;
}

.call-container {
    width: 1000px;
    background-color: rgb(186, 99, 113);
    padding: 35px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.call-container ul {
    width: 570px;
    list-style: none;
    color: #E5E7EB;
    font-weight: lighter;
}

.call-container ul>*:first-child {
    font-weight: bold;
    font-size: 24px;
    color: white;
    padding-bottom: 8px;
}

.call-container button {
    background-color: rgb(186, 99, 113);
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    align-self: center;
}

footer {
    background-color: rgb(186, 99, 113);
    color: #E5E7EB;
    font-size: 18px;;
    font-weight: lighter;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    gap: 8px;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 10px;
}